#!/usr/bin/python



import sys
import getopt
import json

__metaclass__ = type

# Read from ora_user.json

with open("{{jsonfile}}") as jsonFile:
        data = json.load(jsonFile)
        jsonData = data["Users"]

# Generate SQL statement from ora_user.json

#Main for Loop to extract Json Data
for GrantScriptLoop in jsonData:
    user = GrantScriptLoop['username']
    #For loop to get User Creation SQL Statement
    createUsersql = 'create user ' +  user
    createUsersql += ' identified by ' + '"' + GrantScriptLoop['password'] + '"'
    if GrantScriptLoop['tablespace']!= "":
        createUsersql += ' default tablespace '  + GrantScriptLoop['tablespace']
    else: createUsersql += ' default tablespace USERS '
    if GrantScriptLoop['profile'] != "":
        createUsersql += ' profile  ' GrantScriptLoop['profile']
    else: createUsersql += ' profile DEFAULT'
 
# Write Grant SQL statements to sqlfile for execution

with open("create_user_" + user + ".sql", "w") as outfile:
    outfile.write(createUsersql)
