#!/usr/bin/python



import sys
import getopt
import json

__metaclass__ = type

# Read from ora_user.json

with open("{{jsonfile}}") as jsonFile:
    data = json.load(jsonFile)
    jsonData = data["Users"]

# Generate SQL statement from ora_user.json

for user in data['Users']:
    createUsersql = 'create user ' +  (user['username'])
    createUsersql += ' identified by ' + '"' + (user['password']) + '"'
    if str(user['tablespace']) != "":
        createUsersql += ' default tablespace '  + (user['tablespace'])
    else: createUsersql += ' default tablespace USERS '
    if str(user['profile']) != "":
        createUsersql += ' profile  ' + (user['profile'])
    else: createUsersql += ' profile DEFAULT'
    createUsersql += ';'
 
# Write Grant SQL statements to sqlfile for execution
file.write("My String\n")
with open("/tmp/ora_user/create_user_" +(user['username']) + ".sql", "w") as sqlfile:
    sqlfile.write(createUsersql '\n')
