---
create user {{username}} identified by {{"password"}} default tablespace {{tablespace}} profile {{profile}};

grant {{obj_priv}} on {{ object }} to {{ username }};
grant {{syspriv}} to {{username}};
