{
  "Users": [
    {
      "username": "{{ username }}",
      "password": "{{ password }}",
      "syspriv": [{% for syspriv2 in syspriv.splitlines() %}
      {"syspriv_vals": " {{syspriv2}} "}
        {%- if not loop.last %},{% else %}
        {% endif %}
        {% endfor %}],
        "objects": [{% for objname in objects.splitlines() %}{"object": " {{objname}} "}{%- if not loop.last %},{% else %}  {% endif %} {% endfor %}],
        "object_priv": "{{ obj_priv }}",
        "tablespace" : "{{ tablespace }}",
        "profile": "{{ profile }}"
}
  ]
}