{
  "Users": [
    {
      "username": "{{ username }}",
      "password": "{{ password }}",
      "syspriv": "{{ syspriv }}",
      "object": "{{ object }}",
      "object_priv": "{{ obj_priv }}",
      "tablespace" : "{{ tablespace }}"
    }
  ]
}
